/* Desktop Stylesheet*/
/*
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||                                                            ||
||                                                            ||
||                                                            ||
||                .-.                                         ||
||       ,     .-.   .-.                                      ||
||      / \   (   )-(   )          WDD WDD Capstone Project   ||
||      \ |  ..>-( . )-<           By- Navdeep Kaur Dhindsa   ||
||       \|..'(   )-(   )          WDD PACE 2018              ||
||        Y ___`-'   `-'                                      ||
||        |/__/   `-'                                         ||
||        |                                                   ||
||        |                                                   ||
||        |                                                   ||
||  ______|________                                           || 
|| |_______________|                                          ||
||  \             /                                           ||
||   \           /                                            ||
||    \         /                                             ||
||     \       /                                              ||
||      \_____/                                               ||
||                                                            ||
||                                                            ||
||                                                            ||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||  
  
*/

html{
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  background-color: #000;
  background: url(../images/bg.jpg)
}

body{
  margin-top: -10px;
}

/*   Main wrapper   */
#wrapper{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  
}

/*   Header CSS  */
#header{
  background: #fff;
}

header img{
  display: inline-block;
  float: left;
}

#tagline h1{
  font-size: 20px;
  padding: 25px;
}

#logo{
  width: 175px;
  height: 140px;
}

#tagline{
  top: 0px;
}

/*   Header Animation  */

@keyframes fadein{

  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}

/* fade in <header>, <nav> */
header{
  opacity: 0;
  -webkit-animation: fadein 1s ease-in-out .5s forwards;
  animation: fadein 1s ease-in-out forwards;
}
nav{
  opacity: 0;
  -webkit-animation: fadein 1s ease-in-out .5s forwards;
  animation: fadein 1s ease-in-out .5s forwards;
}

/*   Header CSS ends   */



/*   Navigation styles   */
nav{
  background-color: #fff;
  min-height: 45px;
  white-space: nowrap;
  float: right;
  
}
#menu{
  float: right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  text-align: center;
  color: #000;;
  padding: 10px 15px;
}

nav ul li a:hover{
  color: #35afbe;
  border-bottom: 1px solid #f7941e;
}

#content{
  clear: both;
  background: #ccc;
  height: 100%;
}


/*  Index page   */

#home #myself{
  width: 95%;
  margin: 0 auto;
}

/*   Hero Image   */
#home #hero{
  width: 100%;
  height: 350px;
  background: #fff;
  background-image: url(../images/hero.jpg);
}

#home #hero h2{
  padding-left: 10px;
}

#home #myself h3, #home #myself p{
  padding-left: 10px;
  
}

/* About page  */

#about #aboutme{
  padding: 10px;
}

#about h2{
  margin-bottom: 0.2em;
}

#about p#first{
  margin-top: 0;
}

#about #aboutme{
  height:100px;
  margin: 0 auto;
}

#about #aleft{
  float: left;
  margin: 10px;
}

#about #acenter{
  float: left;
  margin: 10px;
}

#about #aright{
  float: left;
  margin: 10px;
}

#about #aboutme .text{
  display:none;
  position: absolute;
}

#about #aboutme #aleft:hover .text, #about #aboutme #acenter:hover .text, #about #aboutme #aright:hover .text{
  display: inline-block;
} 

/*slide show animation*/
 
#about #love{
  width: 100%;
  clear: both;
  
}

#about #core{
  width: 100%;
  clear: both;
  
}
#about #work{
  width: 100%;
  clear: both;
  
}
.slide {
  width:100%; 
  height:300px; 
  overflow:hidden; 
  position:relative; 
}

.slide img{ 
  position:absolute; 
  -webkit-animation:slide 20s infinite;
  animation:slide 20s infinite; 
  opacity:0; 
  width: 100%; 
  height: auto;}

@-webkit-keyframes slide {
  25%{
    opacity:1;
  }
  40%{
    opacity:0;
  }
} 
@keyframes slide {
  25%{
    opacity:1;
  }
  40%{
    opacity:0;
  }
} 
.slide img:nth-child(4){
  -webkit-animation-delay:0s;
  animation-delay:0s;
}
.slide img:nth-child(3){
  -webkit-animation-delay:5s;
  animation-delay:5s;
}
.slide img:nth-child(2){
  -webkit-animation-delay:10s;
  animation-delay:10s;
}
.slide img:nth-child(1){
  -webkit-animation-delay:15s;
  animation-delay:15s;
}


#slide2 {
  width:100%; 
  height:300px; 
  overflow:hidden; 
  position:relative; 
}

#slide2 img{ 
  position:absolute; 
  -webkit-animation:slide 20s infinite;
  animation:slide2 20s infinite; 
  opacity:0; 
  width: 100%; 
  height: auto;}

@-webkit-keyframes slide2 {
  25%{
    opacity:1;
  }
  40%{
    opacity:0;
  }
} 
@keyframes slide2 {
  25%{
    opacity:1;
  }
  40%{
    opacity:0;
  }
} 
#slide2 img:nth-child(4){
  -webkit-animation-delay:0s;
  animation-delay:0s;
}
#slide2 img:nth-child(3){
  -webkit-animation-delay:5s;
  animation-delay:5s;
}
#slide2 img:nth-child(2){
  -webkit-animation-delay:10s;
  animation-delay:10s;
}
#slide2 img:nth-child(1){
  -webkit-animation-delay:15s;
  animation-delay:15s;
}



#about #core{
  clear: both;
  
}

#about #core h3{
  margin-bottom: 0;

}

#about #core p{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

/* Skills Page */

#skills h2{
  padding: 10px;
}
#obox{
  max-width: 960px;
  width: 100%;
  min-height: 300px;
  
}

div.box{
  width:100px;
  height:100px;
  margin: 20px;
  padding:20px;
  border: 2px solid #35afbe;
  display: inline-block;
  border-radius: 100px;

}
div.box h3{
  text-align: center;
} 
div.box p{
  opacity:0;
  text-align: center;
}

div.box:hover{
  background-color: #35afbe;
  border-color: #f7941e;
  transform: rotate(360deg) scale(2,2);
  
  
  border-radius: 5px;
  transition: all 1s ease-in-out;
}

div.box:hover{
  margin-left: 100px;
}

div.box:hover p{
  opacity: 1;
  transition: all 0.8s ease-in-out;
}

div.box:hover h1{
  color:#00f;
}
#tab{
  clear: both;
}

table{
  border: 1px solid #000;   
  margin-top: 8px;
  margin-bottom: 15px;
  border-spacing: 4px;
  width: 480px;
  margin: 0 auto;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.65);
}

table td{
  padding: 5px;
  background-color: #fff;   
 }
table th{
  padding: 5px;
  background-color: #ddd;  
  color: #f7941e;
 }
table caption{
  background-color: #000;
  color: #35afbe;
  font-weight: bold; 
  border-radius: 6px 6px 0px 0px;     
 }

/*  faqs page  */
#faqs section{
  padding: 10px;
}


#faqs .question{
  padding: 10px;
  border-bottom: 2px solid #666;  
} 

#faqs .question h3{
  margin-bottom: 0.2em;
  margin-top: 0.3em;
}

#faqs .question p{
  margin-top: 0;
}


/*  Connect page*/
#connect h2{
  font-size: 1.2rem;
  margin-left: 10px;
  padding-top: 10px;
  
}

#connect form{
  margin: 0 auto;
  width: 70%
}

#connect fieldset{
  margin-top: 20px;
  background-color: #999;
  }

#connect legend{
  padding: 7px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  }

#connect label{
  display:inline-block;
  width: 150px;
  }

#connect input[type="text"], input[type="date"], input[type="tel"], textarea, input[type="password"], input[type="email"]{
  width: 250px;
  height: 1.3em;
  padding: 4px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color:#fff;         
}

#connect textarea{
  height: 5em;
}
#connect textarea{
  padding:4px;
  border: 1px solid #000;
  background-color: #fff;                              
}

#connect textarea:hover{
  border:1px solid #33f;
}

#connect input[type=reset], #connect input[type=submit]{
  
  border: solid 1px #000;
  background-color: #B3B3B3;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.60);
  color: #000;
  padding: 7px 10px 7px 10px;
}

#connect .required{
  color: #f00;
  font-weight: 700;
  font-size: 1.2em;
}

/* top pointer */
#top{
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: block;
  width: 40px;
  height: 40px;
}

/* Footer Style begins */
footer{
  min-height: 200px;
  clear: both;
  font-size: 13px; 
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;   
  letter-spacing: 0.7px; 
  background-color: #dcdcdc; 	    
}

footer #left_footer {
  float: left;
  width: 32%;
  color: #000;
}

footer #left_footer p{
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 15px;
}

footer #left_footer ul{
  padding-left: 0;
  text-align: center;
}

footer #left_footer li {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
}

footer #left_footer li a{
  text-decoration: none;
  color: #000;
}

footer #left_footer li a:hover{
  
  color: #35afbe;
}


footer #center_footer {
  float: left;
  text-align: center;
  width: 33%;
}
footer #center_footer p{
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 20px;
}
footer #right_footer{
  width: 22%;
  
  text-align:center;
  color: #fff;
  background-size: 120px 43px;
  background-position: center bottom;    
  float: right;
}

footer #right_footer p{
  text-align: center;
  color: #000;
  margin-bottom: 15px;
  margin-top: 15px;
}

footer #left_footer li a{
  text-decoration: none;
}

footer #right_footer .social{
  
}
