/* Mobile Stylesheet*/

/*
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||                                                            ||
||                                                            ||
||                                                            ||
||                .-.                                         ||
||       ,     .-.   .-.                                      ||
||      / \   (   )-(   )          WDD WDD Capstone Project   ||
||      \ |  ..>-( . )-<           By- Navdeep Kaur Dhindsa   ||
||       \|..'(   )-(   )          WDD PACE 2018              ||
||        Y ___`-'   `-'                                      ||
||        |/__/   `-'                                         ||
||        |                                                   ||
||        |                                                   ||
||        |                                                   ||
||  ______|________                                           || 
|| |_______________|                                          ||
||  \             /                                           ||
||   \           /                                            ||
||    \         /                                             ||
||     \       /                                              ||
||      \_____/                                               ||
||                                                            ||
||                                                            ||
||                                                            ||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||  
  
*/
html{
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  background-color: #fff;
}

/*header start css*/
header{
	height: 70px;
	background-color: #fff;
	position: relative;
	width: 100%;
}

header #tagline{
  display: none;
}


/*hamburger menu*/
#menu{
  display: inline-block;
	cursor: pointer;
	position: absolute;
	top: -130px;
	right: 10px;
	z-index: 5000000;
}
#menu a#menulink{
  width: 40px;
  height: 40px;
  display: block;
  color: #fff;
  padding: 5px 4px;
  background: #000;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
 
}
/*hamburger menu animation start*/
div.bar1, div.bar2, div.bar3{
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  display: block;
  opacity: 1;
  transform: translate(0) rotate(0deg);
  transition: all .4s ease-in-out;
}
#menu:hover a#menulink .bar1{
  transform: translateY(8px) rotate(-45deg);
  background-color: #35afbe;
}
#menu:hover a#menulink .bar2{
  opacity: 0;
}
#menu:hover a#menulink .bar3{
  transform: translateY(-8px) rotate(45deg);
  background-color: #f7941e;
}

nav{
  position: relative;
}
nav ul#navlist{
	margin: 0;
	width: 200px;
	background-color: #f7941e;
	padding: 4px;
	position: absolute;
	top: 57px;
	right: -10px;
	opacity: 0;
	transform: translateY(-600px);
	transition: all .4s ease-in-out;
}
nav ul#navlist li a{
	display: block;
	text-decoration: none;
	height: 35px;
	background: #35afbe;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 13px;
  text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 3px;
	font-size: 1.7rem;
}
nav ul#navlist li {
list-style-type: none;
}
/*end of mobile nav css style design*/

/*CSS for nav to work*CSS to make nav appear*/
nav #menu:hover ul#navlist{
	opacity: 1;
	transform: translateX(0px);
}
/*end of nav css to make nav appear*/

/*end of the nav*/
#content{
  margin-top: 70px;
}

.slide, #aboutme, #love, #work{
  display: none;
}

/*  faqs page  */
#faqs section{
  padding: 10px;
}

#faqs #content section h2{
  margin-bottom: 0.2em;
}

#faqs #content section p{
  margin-top: 0;
  margin-bottom: 0;
}

#faqs .question{
  padding: 10px;
  border-bottom: 2px solid #666;  
} 

#faqs .question h3{
  margin-bottom: 0.2em;
  margin-top: 0.3em;
}

#faqs .question p{
  margin-top: 0;
}

/*  Connect page*/
#connect h2{
  font-size: 1.2rem;
  margin-left: 10px;
  padding-top: 10px;
  
}

#connect form{
  margin: 0 auto;
  width: 70%
}

#connect fieldset{
  margin-top: 20px;
  background-color: #999;
  }

#connect legend{
  padding: 7px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  }

#connect label{
  display:inline-block;
  width: 150px;
  }

#connect input[type="text"], input[type="date"], input[type="tel"], textarea, input[type="password"], input[type="email"]{
  width: 250px;
  height: 1.3em;
  padding: 4px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color:#fff;         
}

#connect textarea{
  height: 5em;
}
#connect textarea{
  padding:4px;
  border: 1px solid #000;
  background-color: #fff;                              
}

#connect textarea:hover{
  border:1px solid #33f;
}

#connect input[type=reset], #connect input[type=submit]{
  
  border: solid 1px #000;
  background-color: #B3B3B3;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.60);
  color: #000;
  padding: 7px 10px 7px 10px;
}

#connect #required{
  color: #f00;
  font-weight: 700;
  font-size: 1.2em;
}


#top{
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: block;
  width: 40px;
  height: 40px;
}

footer{
  background: #ccc;
}

footer #left_footer {
  display: none;
}
